* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 100%;
    max-height: 100%;
    padding-top: 40px;
    background-color: hsl(0, 0%, 95%);
}
.container {
    /* border: 2px solid; */
    margin-top: 20px;
    margin-left: 100px;
    width: 1070px;
}
header {
    /* border: 1px solid ; */
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin-left: 100px;
 
}
header.login  {
    align-content: center;
    

}
header img {
    height: 40px;
    align-self: center;
}
ul {
    font-size: 15px;
    align-self: center;
    margin-left: -270px;
}

a {
    /* border: 1px solid; */
    text-decoration: none;
    align-self: center;
    margin-left: 30px;
}
.login {
    display: flex;
    /* border:1px solid; */
   justify-content: center;
   align-self: center;
   padding: 10px;
   margin-left: 130px;
}
.login #login-img {
    /* border: 1px solid orange; */
    height: 20px; 
    margin-left: 10px ;
}
.login p {
    /* border: 1px solid green; */
    font-size: medium;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.login p a {
 align-self: center;
 margin-left: 5px;
 font-size: 20px;
 color: orange;
}
.template-container {
    align-self: center;
}
.templates {
    background-image: url(template.jpg);
    background-position: center center;
    border-radius: 10px;
    justify-self: center;
    width: 1070px;
    height: 400px;
    color: white;
   align-items: center;
   padding-left: 100px;
   padding-top: 60px;
}
.templates h1 {
    margin-bottom: 10px;
}
.templates h3 {
    margin-bottom: 20px;
}
select {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: lightgray;
    margin-bottom: 10px;
    padding-left: 7px;
}
input {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    color: lightgray;
    padding: 7px;
}
.submit {
    background-color: orange;
    color: white;
    border: orange;
    border-radius: 30px;
    margin-top: 30px;
}
.submit:hover {
    background-color: white;
    cursor: pointer;
    color: orange;
}
.submit:active {
    color: lightblue;
    background-color: aqua;
}
footer {
    text-align: center;
    margin-top: 10px;
    color: lightgray;
    font-size: 18px;
    font-weight: bold;
}
